<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Accueil</title>
		<link rel="stylesheet" href="{{ url_for('web.static', filename='css/home.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
		<script src="{{ url_for('web.static', filename='js/home.js') }}"></script>
	</head>
	<body>
		<h1>Accueil Light Control GEII</h1>
		<form action="/turnon" method="post">
			<button name="turnOnBtn" type="submit">Turn On</button>
		</form>
		<form action="/turnoff" method="post">
			<button name="turnOffBtn" type="submit">Turn Off</button>
		</form>
		<h2>My Lamps</h2>
		<div class="lamp-cards-container">
			<template id="lamp-card-off-template">
				<div class="lamp-card">
					<h4 class="lamp-card-title"><b>{% raw %}{{Name}}{% endraw %}</b></h4>
					<p class="lamp-card-state-text">Turned Off</p>
					<button class="lamp-card-btn turn-on-lamp-btn positive-btn" data-id="{% raw %}{{Id}}{% endraw %}">Turn On</button>
				</div>
			</template>
			<template id="lamp-card-on-template">
				<div class="lamp-card">
					<h4 class="lamp-card-title"><b>{% raw %}{{Name}}{% endraw %}</b></h4>
					<p class="lamp-card-state-text">Turned On</p>
					<button class="lamp-card-btn turn-off-lamp-btn negative-btn" data-id="{% raw %}{{Id}}{% endraw %}">Turn Off</button>
				</div>
			</template>
		</div>
	</body>
</html>
